<table>

    <tr>
        <th *ngIf="formData.provincial"> Province </th>
        <th *ngIf="formData.newCases"> New Cases </th>
        <th *ngIf="formData.cumuCases"> Cumulative Cases</th>
        <th *ngIf="formData.newDeaths"> New Deaths </th>
        <th *ngIf="formData.cumuDeaths"> Cumulative Deaths</th>
    </tr>

    <tr *ngFor="let item of covidStats">
        <td *ngIf="formData.provincial"> {{item.region}} </td>
        <td *ngIf="formData.newCases"> {{item.cases_daily}}</td>
        <td *ngIf="formData.cumuCases"> {{item.cases}}</td>
        <td *ngIf="formData.newDeaths"> {{item.deaths_daily}}</td>
        <td *ngIf="formData.cumuDeaths"> {{item.deaths}}</td>
    </tr>

</table>


