form{
    margin: 2rem;
}
button{
    margin-top: 2rem;
    align-self: flex-start;
    max-width: 6rem;
}

.form-section {
    display: flex;
    flex-direction: column;
}

h3 {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

mat-checkbox {
    font-weight: 300;
}

.margin-top {
    margin-top: 2rem;
}

@media (max-width: 50rem){
    
}
@media (max-width: 30rem){
    
}