<mat-card class="container">
    <h2>Select the data you want: </h2>

    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    >
    <div class="form-section">
        <h3>Stats:</h3>

        <mat-checkbox formControlName="newCases" >Cases</mat-checkbox>
        <mat-checkbox formControlName="cumuCases">Cumulative Cases</mat-checkbox>
        <mat-checkbox formControlName="newDeaths">New Deaths</mat-checkbox>
        <mat-checkbox formControlName="cumuDeaths">Cumulative Deaths</mat-checkbox>
        <mat-checkbox formControlName="newRecovered">New Recovered</mat-checkbox>
        <mat-checkbox formControlName="cumuRecovered">Cumulative Recovered</mat-checkbox>
    </div>
    <div class="form-section">
        <h3 class="margin-top">Locations:</h3>
        <mat-checkbox formControlName="federal">Federal</mat-checkbox>
        <mat-checkbox formControlName="provincial">Provincial</mat-checkbox>
        <mat-checkbox formControlName="regional">Regional</mat-checkbox>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Choose date range: </mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        
    </div>
    <button mat-raised-button color="primary">SUBMIT</button>

    </form>
</mat-card>

<!-- <button (click)="onDelete()">delete</button> -->
