form{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}
button{
    margin-top: 2rem;
    align-self: flex-start;
    max-width: 6rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.container {
    margin-left: 2rem;
}

@media (max-width: 50rem){
    form{
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 30rem){
    form{
        grid-template-columns: 1fr;
    }
}