<div class="container">
    <h2>INPUT FORM</h2>

    <form
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
    >
    <div class="form-section">
        <h3>Stats:</h3>

        <mat-checkbox formControlName="newCases" >Cases</mat-checkbox>
        <mat-checkbox formControlName="cumuCases">Cumulative Cases</mat-checkbox>
        <mat-checkbox formControlName="newDeaths">New Deaths</mat-checkbox>
        <mat-checkbox formControlName="cumuDeaths">Cumulative Deaths</mat-checkbox>
        <mat-checkbox formControlName="newRecovered">New Recovered</mat-checkbox>
        <mat-checkbox formControlName="cumuRecovered">Cumulative Recovered</mat-checkbox>
    </div>
    <div class="form-section">
        <h3>Locations:</h3>
        <mat-checkbox formControlName="federal">Federal</mat-checkbox>
        <mat-checkbox formControlName="provincial">Provincial</mat-checkbox>
        <mat-checkbox formControlName="regional">Regional</mat-checkbox>
    </div>
    <div>
        <h3>Date Range:</h3>
        <input id="start" type="date" formControlName="startDate">
        <input id="end" type="date" formControlName="endDate">
    </div>
    <button mat-raised-button color="primary">SUBMIT</button>

    </form>
</div>

<!-- <button (click)="onDelete()">delete</button> -->
